.container-fluid{
    color: #fff;
    background: #fff url(../img/details_banner.jpg) 0 0 no-repeat;
}
.container{
    margin-top: 100px;
    background-color: rgba(0,0,0,.3);
}
.movie-pic{
    margin-right: 20px;
}
