@charset "utf-8";
/* CSS Document */
body {
	color: #fff;
	font-family:"Microsoft YaHei","Hiragino Sans GB",Arial,"Lucida Grande",Verdana; 
}
.act-body-idx { background: url(../image/bg.jpg) 50% 50% no-repeat; background-color: #171B1E; }
.act-main-chat { background: #ebebeb; }

@media all{ .act-wrap { font-size:5vw } }
/* index */
.act-wrap { width: 100%; }
.act-star img {
	display: block;
	margin: 0 auto; padding-top: 30px;
	height: 90px; width: 90px;
}
.act-star h3 {
	padding: 20px 0;
	height: 30px; width: 100%;
	text-align: center; line-height: 30px;
	font-family: "Microsoft YaHei","Hiragino Sans GB",Arial; font-weight: 100; font-size: 23px;
}
.act-star h5 {
	height: 20px;
	text-align: center; line-height: 20px;
	font-size: 14px;
}
.act-wrap-ctx {
	margin-top: 23px; 
	text-align: center;
}
.act-ctx-left, .act-ctx-right {
	width: 65px; height: 80px;
}
.act-btn-left, .act-btn-right {
	position: relative; left: 0; top: 0;
	/*width: 100px; height: 100px;*/
}
.act-ctx-left, .act-btn-left {
	float: left;
	margin-left: 30px; 
	font-size: 15px;
}
.act-ctx-right, .act-btn-right {
	float: right;
	margin-right: 30px;
	font-size: 15px;
}
.act-wrap-btn {
	width: 100%; height: 100px;
	text-align: center;
}
/* icons */
.i-clock, .i-msg, .i-red, .i-green { background-image: url(../image/icon_new.png); }
.i-clock, .i-msg {
	margin: 0 auto; margin-bottom: 5px;
	width: 26px; height: 27px;
}
.i-red, .i-green {
	margin: 0 auto; margin-bottom: 10px;
	width: 70px; height: 70px;
	background-size: 118%;
}
.i-msg { background-position: 0px -110px; background-size: 350%; }
.i-clock { background-position: 0px -90px; background-size: 400%; }
.i-red { background-position: 0px -130px; }
.i-green { background-position: 0px -202.5px; }

/* 接听后添加样式 */
.act-star .act-star-answer { position: relative; left: 0; top: 0; }

.act-wrap-solo section {
	margin: 0 auto; padding-top: 20px;
	width: 95%;
	font-size: 14px;
}
.act-solo {
	float: left; margin: 0 auto;
	width: 33.3%; height: 90px;
}
.act-solo span {
	display: block; margin-top: 10px;
	width: 100%;
	text-align: center;
}

.i-solo, .i-red-big {
	margin: 0 auto;
	width: 75px; height: 75px;
	background-image: url(../image/ring_sp.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.i-quiet { background-position: 0 0; }
.i-key { background-position: 0 -75px; }
.i-free { background-position: 0 -150px; }
.i-phone { background-position: 0 -225px; } 
.i-face { background-position: 0 -300px; }
.i-list { background-position: 0 -375px; }
.i-red-big { background-position: 0 -450px; }
.act-wrap-end { margin-top: 50px; }

.act-elem {
	display: none;
	position: relative; left: 0; top: 15px;
	margin-bottom: 10px;
	height: 40px; 
	color: #000; font-size: 15px;
}
/*.act-elem:nth-child(1) { padding-top: 15px; }*/
/*.act-elem:nth-child(2) { top: 40px;}*/
/*.act-elem:nth-child(3) { top: 80px;}*/
.act-star-head {
	position: absolute; left: 10px; top: 0;
	height: 30px; width: 30px;
}
.act-star-msg {
	position: absolute; left: 65px; top: 0;
	padding: 0 10px;
	height: 38px; 
	line-height: 38px;
	border: 1px solid #d0d0d0; border-radius: 6px;
	background: #fff;
}
.act-star-msg:after, .act-star-msg:before {
	border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-left: 8px solid transparent;
    border-right: 8px solid #fff; 
	width: 0;
	height: 0;
	position: absolute;
	top: 9px;
	left: -15px;
	content: '';
}
.act-star-msg:before {
  	border-right-color: #d0d0d0;
  	left: -16px;
}
.act-star-head {
	width: 40px; height: 40px;
	background: url(../image/icon_new.png) 0 0 no-repeat;
	background-size: 186%;
}
.i-cry {
	display: inline-block;
	position: relative; top: 4px;
	margin-left: 10px; padding-top: -22px;
	width: 20px; height: 20px;
  	background: url(../image/icon_new.png) 0px -57px no-repeat; background-size: 480%;
}
/* chat */
.act-footer { 
	position: absolute; bottom: 0; left: 0;
	width: 100%; height: 49px;
	background: url(../image/footer.jpg) 0 0 no-repeat;
	background-size: 100%; 
}

/* hotfix */
.act-star .act-title-hotfix { padding-top: 20px; }
/* iPhone 4 */
@media screen and (max-width: 320px) {
	.act-star h3 { padding-bottom: 10px; }
	.act-wrap-end { margin-top: 30px; }
	.act-ctx-left, .act-ctx-right { height: 70px; }
}
/* iPhone5s */
@media screen and (min-width: 321px) and (max-width: 374px) {}
/* iPhone6 */
@media screen and (min-width: 375px) and (max-width: 413px) {
	.act-wrap-solo section { padding-top: 50px; }
	.act-wrap-end { margin-top: 80px; }
	.act-footer { height: 56px; }
	.act-elem { height: 50px; }
	.act-star-head { height: 50px; width: 50px; background-size: 187%; }
	.act-star-msg { left: 75px; padding: 0 15px; height: 48px; line-height: 48px; font-size: 17px; }
	.act-star-msg:after, .act-star-msg:before { top: 15px; }
}
@media screen and (min-width: 414px) {
	.act-footer { height: 62px; }
	.act-elem { height: 60px; }
	.act-star-head { height: 60px; width: 60px; }
	.act-star-msg { left: 85px; padding: 0 15px; height: 58px; line-height: 58px; font-size: 20px; }
	.act-star-msg:after, .act-star-msg:before { top: 20px; }
	.i-cry { top: 3px; }
}

/* 首屏高度 */
@media screen and (min-height: 481px) and (max-height: 568px) {
	.act-star .act-title-hotfix { padding-top: 30px; }
	.act-ctx-left, .act-ctx-right { height: 70px; }
	.act-wrap-ctx { margin-top: 30px; }
	.act-wrap-btn { margin-top: 30px; }
	.act-wrap-end { margin-top: 50px; }
	.act-wrap-solo section { padding-top: 30px;}
}
/* iPhone6 + */
@media screen and (min-height: 569px) and (max-height: 667px) {
	.act-star .act-title-hotfix { padding-top: 30px; }
	.act-star img { padding-top: 50px; }
	.act-wrap-ctx { margin-top: 90px; }
	.act-wrap-btn { margin-top: 30px; }
	.act-ctx-left, .act-btn-left { margin-left: 50px; }
	.act-ctx-right, .act-btn-right { margin-right: 50px; }
	.act-wrap-solo section { padding-top: 50px; }
	.act-wrap-end { margin-top: 70px; }
}
/* 6P height */
@media screen and (min-height: 668px) {
	.act-star .act-title-hotfix { padding-top: 40px; }
	.act-star img { padding-top: 50px; }
	.act-star h3 { font-size: 27px; }
	.act-wrap-ctx { margin-top: 120px; }
	.act-wrap-btn { margin-top: 70px; }
	.act-ctx-left, .act-btn-left { margin-left: 50px; }
	.act-ctx-right, .act-btn-right { margin-right: 50px; }
	.act-wrap-solo section { padding-top: 50px; }
	.act-wrap-end { margin-top: 100px; }

	.i-solo, .i-red-big { height: 100px; width: 100px; }
	.i-key { background-position: 0 -100px; }
	.i-free { background-position: 0 -200px; }
	.i-phone { background-position: 0 -300px; } 
	.i-face { background-position: 0 -400px; }
	.i-list { background-position: 0 -500px; }
	.i-red-big { background-position: 0 -600px; }
}

@keyframes fade-in
{
	from {opacity: 0;}
	to   {opacity: 1;}
}
@-webkit-keyframes fade-in /* Safari 和 Chrome */
{
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes fade-out-in {
	0%   {opacity: 1;}
	10%  {opacity: 0.8;}
	20%  {opacity: 0.6;}
	30%  {opacity: 0.4;}
	40%  {opacity: 0.2;}
	50%  {opacity: 0;}
	60%  {opacity: 0.2;} 
	70%  {opacity: 0.4;}
	80%  {opacity: 0.6;}
	90%  {opacity: 0.8;}
	100% {opacity: 1;}
}
@-webkit-keyframes fade-out-in {
	0%   {opacity: 1;}
	10%  {opacity: 0.8;}
	20%  {opacity: 0.6;}
	30%  {opacity: 0.4;}
	40%  {opacity: 0.2;}
	50%  {opacity: 0;}
	60%  {opacity: 0.2;} 
	70%  {opacity: 0.4;}
	80%  {opacity: 0.6;}
	90%  {opacity: 0.8;}
	100% {opacity: 1;}
}

@keyframes fade-out
{
	from {opacity: 1;}
	to   {opacity: 0;}
}
@-webkit-keyframes fade-out /* Safari 和 Chrome */{
	from {opacity: 1;}
	to   {opacity: 0;}
}

@keyframes fade-out-fly-l {
	from {opacity: 1; left: 0;}
	to   {opacity: 0; left: 150px;}
}
@-webkit-keyframes fade-out-fly-l {
	from {opacity: 1; left: 0;}
	to   {opacity: 0; left: 150px;}
}

@keyframes fade-out-fly-r {
	from {opacity: 1; left: 0;}
	to   {opacity: 0; left: -150px;}
}
@-webkit-keyframes fade-out-fly-r {
	from {opacity: 1; left: 0;}
	to   {opacity: 0; left: -150px;}
}
/*
@keyframes heartShake {
	0%   {width: 70px; height: 70px; background-position: 0px -115px;}
	25%  {width: 80px; height: 80px; background-position: 0px -131px;}
	50%  {width: 70px; height: 70px; background-position: 0px -115px;}
	75%  {width: 80px; height: 80px; background-position: 0px -131px;}
	100% {width: 70px; height: 70px; background-position: 0px -115px;}
}
@-webkit-keyframes heartShake {
	0%   {width: 70px; height: 70px; background-position: 0px -115px;}
	25%  {width: 80px; height: 80px; background-position: 0px -131px;}
	50%  {width: 70px; height: 70px; background-position: 0px -115px;}
	75%  {width: 80px; height: 80px; background-position: 0px -131px;}
	100% {width: 70px; height: 70px; background-position: 0px -115px;}
}
.heart-shake {
	animation        : heartShake 0.2s linear 0s infinite;
	-moz-animation   : heartShake  0.2s linear 0s infinite;	
	-webkit-animation: heartShake  0.2s linear 0s infinite;	
	-o-animation     : heartShake  0.2s linear 0s infinite;
}
*/

.animate-fade-out-in {
	animation        : fade-out-in 0.8s linear;
	-moz-animation   : fade-out-in 0.8s linear;	/* Firefox */
	-webkit-animation: fade-out-in 0.8s linear;	/* Safari 和 Chrome */
	-o-animation     : fade-out-in 0.8s linear;
}
.animate-fade-in {
	animation        : fade-in 0.8s linear;
	-moz-animation   : fade-in 0.8s linear;	/* Firefox */
	-webkit-animation: fade-in 0.8s linear;	/* Safari 和 Chrome */
	-o-animation     : fade-in 0.8s linear;	
}
.animate-fade-out {
	animation        : fade-out 0.8s linear;
	-moz-animation   : fade-out 0.8s linear;	/* Firefox */
	-webkit-animation: fade-out 0.8s linear;	/* Safari 和 Chrome */
	-o-animation     : fade-out 0.8s linear;	
}
.animate-fade-out-fly-l {
	animation        :  fade-out-fly-l 1s linear;
	-webkit-animation:  fade-out-fly-l 1s linear;
}
.animate-fade-out-fly-r {
	animation        :  fade-out-fly-r 1s linear;
	-webkit-animation:  fade-out-fly-r 1s linear;
}

.transform-rotate {
	transform         : rotate(360deg);
	-webkit-transform : rotate(360deg);
	transition        : all 0.8s ease-in-out 0s;
	-webkit-transition: all 0.8s ease-in-out 0s; 
}
.transform-rotate-reset {
	transform         : rotate(0deg);
	-webkit-transform : rotate(0deg);
	transition        : '';
	-webkit-transition: '';
}

/* show it */
@keyframes show-out {
	from {transform: scale(0, 0);}
	to   {transform: scale(1, 1);}
}
@-webkit-keyframes show-out {
	from {transform: scale(0, 0);}
	to   {transform: scale(1, 1);}
}

.animate-show-out {
	animation        : show-out 0.3s linear;
	-moz-animation   : show-out 0.8s linear;	/* Firefox */
	-webkit-animation: show-out 0.5s linear;	/* Safari 和 Chrome */
	-o-animation     : show-out 0.8s linear;	
}